name: TF Backend State Destroying

on:
  workflow_dispatch:

jobs:
  InfraProvision:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ vars.AWS_REGION }}
    defaults:
      run:
        working-directory: ./tf_backend_state
    steps:
      - name: Checkout the repo code
        uses: actions/checkout@v2

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Download backend state file from S3
        run: |
          aws s3 cp \
            s3://${{ vars.BACKEND_BUCKET_NAME }}/${{ vars.BACKEND_PREFIX }} \
            terraform.tfstate

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan destroy
        run: terraform plan -var-file="variables.tfvars" -destroy -out terraform.tfplan

      - name: Destroy backend state
        run: terraform apply -auto-approve terraform.tfplan